.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-start;
    background-color:rgb(204, 201, 207);

}

.container div{
    margin:20px;
    padding:60px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(78, 50, 149);
    font-size:20px;
}