ol {
  background: rgb(103, 135, 159);
  padding:20px;
  outline: 10px solid rgb(114, 68, 24);
}

ol li {
  background: rgb(203, 189, 195);
  color: rgb(114, 68, 24);
  padding: 10px;
  margin-left: 40px;
}

ul {
  background: rgb(9, 68, 76);
  padding: 20px;
}

ul li {
  background: mistyrose;
  color: darkblue;
  margin: 5px;
}
</style>
</head>
<body>
